/* ==========================================================================
   Reset
   ========================================================================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/* ==========================================================================
   Styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

img::selection{
  background: transparent;
}

body{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Cutive Mono", "Courier New", monospace;
  /*background: pink;*/
}

img{
  max-height: 70vh;
  min-width: 60vw;
}

input{
  font-family: "Cutive Mono", "Courier New", monospace;
  font-size: 28px;
  width: auto;
  text-align: center;
  border: none;
  margin-top: 25px;
}

#help{
  position: absolute;
  background: white;
  width: 50vw;
  text-align: center;
  padding: 30px;
  display: none;
}

#help h1{
  font-size: 24px;

}

#help p{
  margin-top: 10px;
  margin-bottom: 10px;
}

i.fa{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  color: #999;
  cursor: pointer;
}

@media(max-width: 500px){
  #help{
    width: 90vw;
    padding: 30px;
  }
  #help h1{
    font-size: 20px;
  }
  #help p{
    font-size: 12px;
  }
}
